services:
  - type: web
    name: 10-web-time-display
    env: static
    buildCommand: npm run build
    staticPublishPath: dist
    envVars:
      - key: NODE_VERSION
        value: 22
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
